*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}
img{
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 5px;
}

h5{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

p{
    max-width: 86%;
    margin: auto;
}

b{
    text-transform: uppercase;
}
.cidade{
    max-width: 86%;
    margin-top: 200px;
    text-align: right;
    
}

.assinatura {
    text-align: center;
    margin-top: 150px;
    border-top: 1px solid black;
    width: 250px;   
}

.span{
    width: 200px;
   
}

form {
   
    max-width: 50%;
    margin: auto;
}

input{
    width: 100%;
}

label{
    width: 100%;
}

form button{
    margin-top: 20px;
    width: 100%;
}
